# exclude node modules
    
/node_modules
/ios/Pods
/ios/Podfile.lock
.DS_Store
*.pbxuser
*.xccheckout
*.xcuserstate
*.xcuserdata
*/xcuserdata/*

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

res
